.footer {
    width: 80%;
    height: 70px;
    display: flex;
    align-items: center;
    border-top: 1px solid grey;
    bottom: 1px;
    margin-top: 10px;
}

.logo {
    width: 10%;
    height: 90%;
    position: relative;
}

.footerContent {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
}

.footerContent a{
    text-decoration: none;
    color: black;
}

.footerContent a:hover{
    font-size: 20px;
    transition: all 1000ms ease;
}